

.gtheader {
    border-radius: 20rem;
    border-width: 5px;
    border-color: white;
    position: fixed;
    top: 50rem;
    right: 7.5rem;
    
}

.gtheader:hover {
    scale: 125%;
    transition: 0.3s;
}