
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 2rem;
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.hr-footer {
    background: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
    width: 67rem;
    
}

.hr-footer-dark {
    background: white;
    border-color: white;
    background-color:white;
    width: 67rem;
    
}

.h4-footer-dark {
    color: white;
    font-family: 'Lexend Zetta Variable', sans-serif;
    font-size: 0.75rem;
}

.h4-footer {
    font-family: 'Lexend Zetta Variable', sans-serif;
    font-size: 0.75rem;

}


@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }